/* Ibarra Real Nova */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

/* Start Facebook Button  */

/* End Facebook Button  */
.facebookbtns {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px !important;
    text-decoration: none;
    color: #fff;

    background-color: silver;
    padding: 10px 25px;

    transform: rotate(-90deg);

    position: fixed;
    right: -53px;
    bottom: 100px;

    z-index: 2;
}

@media (max-width: 768px) {
    .facebookbtns {
        display: none;
    }
}
/* Start Header Section  */
/* Start intro  */
#progresss {
    display: block;

    width: 0%;

    border-top: 3px solid darkred;

    position: absolute;
    left: 0;
    top: 0;
}

.headerIntros {
    font-family: 'Mukta', sans-serif;
    
    width: 100%;
    height: 60px;
    
    background-color: white;
    
    display: flex;
    align-items: center;
}

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headings .humbagers{
    display: none;
}

.lineones,.linetwos,.linethrees{
    width: 35px;
    height: 2px;
    
    background-color: #111;
    
    margin: 6px;
}

.brand-parts h6 {
    letter-spacing: 2px;
    font-weight: bold;
}

.dropdown,.logins {
    display: inline;

    font-size: 14px;
}

.languages {
    text-decoration: none;
}

.show {
    font-size: 14px;
}

.rotate-arrows {
    transform: rotate(180deg);
}

.logins {
    cursor: pointer;
}

.login-forms {
    width: 350px;
    
    background-color: #f4f4f4;
    
    position: absolute;
    left: 70%;
    top: 60px;
    
    display: none;
}

.button-parts {
    margin: 20px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    width: 200px;

    font-size: 14px;
    
    display: block;

    margin-bottom: 10px;
}

.btn-outline-primary:hover{
    background-color: white;
}

.detail-parts{
    height: auto;
    background-color: #d1d7e0;

    font-size: 14px;
    
    padding: 40px 30px;
}

.detail-parts h6 {
    font-weight: bold;
}

.detail-parts ul li {
    cursor: pointer;
    
    line-height: 2;
}

.detail-parts ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .login-forms {
        width: 300px;
        transform: translateX(-15%);
        
        position: absolute;
        right: 0px;
        top: 60px;
    }
}

@media (max-width: 768px) {
    .headings h6 {
        display: inline-block;
        transform: translate(0px, -10px);
    }
    
    .countrys,.logins span {
        display: none;
    }
    
    .headings .humbagers {
        display: inline-block;
        
        background-color: transparent;
        
        border: none;
    }
    
    .login-forms {
        width: 300px;

        transform: translateX(-35%);
        
        position: absolute;
        right: 0;
        top: 60px;
    }

    .brand-parts,.language-logins {
        position: static;
    }
}

@media (max-width: 576px) {
    .brand-parts,.language-logins {
        position: absolute !important;
    }

    .brand-parts {
        left: 0;
    }

    .language-logins {
        right: 0;
    }

    .login-forms {
        position: absolute;
        left: -110px;
        top: 40px;
    }

    .detail-parts ul li {
        line-height: 1.7;
    }

    .login-arrows {
        padding-right: 5px;
    }
}

/* End intro  */

/* Start Hotel Address   */
.hotelInfos {
    width: 100%;
    height: auto;
    
    font-family: 'Ibarra Real Nova', serif;
    
    background-color: #222;
}

.sydneys {
    display: none;
}

.informations {
    font-size: 14px;
}

.informations a {
    text-decoration: none;
}

.informations a:hover {
    text-decoration: underline;
}

.informations span {
    display: none;
}

.bookingBtns {
    background-color: yellow;
    
    padding: 5px 30px;

    border: none;
}

/* Start Hotel Address Animation  */
.parkhyatt-animations {
    animation-name: moveleft;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes moveleft {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-150px);
    }
}
/* End Hotel Address Animation  */

@media (max-width: 992px) {
    .park-hyatts img {
        width: 100px;
    }

    .full-sydneys {
        font-size: 20px;
    }

    .bookingBtns {
        font-size: 14px;
    }

    @keyframes moveleft {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(-100px);
        }
    }
}

@media (max-width: 768px) {
    .park-hyatts img  {
        height: 100px;
        display: n;
    }
    .hotelAddress {
        margin-left: 30px;
    }

    .contacts {
        display: none;
    }

    .informations,.informations span {
        display: inline-block;

        padding-right: 10px;
    }
}

@media (max-width: 576px) {
    .hotelAddress {
        margin-left: 50px !important;
    }

    button.bookingBtns {
        margin-left: 1.5rem;
    }

    @keyframes moveleft {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(-85px);
        }
    }
}

/* Start Nav Bar  */
.navbars {
    display: inline-block;
}

.navbars ul {
    display: flex;
}

.navbarlinks .nav-link {
    font-size: 14px;
    display: block;
    padding: 0 10px !important;
}

.navbars .navbarlinks .nav-link:hover {
    text-decoration: underline;
}

.navbar-slides {
    display: none;
}

@media (max-width: 992px) {
    .navbars .navbarlinks li a {
        font-size: 12px !important;
    }

    .navbars .navbarlinks {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .navbars {
        display: none;
    }
    
    .navbar-slides {
        width: 300px;
        height: 100vh;
        
        background-color: #f4f4f4;
        
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .navbar-slides .crosss {
        display: inline-block;
        
        background-color: transparent;
        
        border: none;
        
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .crossones,.crosstwos {
        width: 35px;
        height: 2px;
        
        background-color: #111;
        
        margin: 6px;
    }
    
    .crossones {
        width: 30px;
        transform: rotate(45deg) translate(6px, 6px);
    }
    
    .crosstwos {
        width: 30px;
        transform: rotate(-45deg);
    }
    
    .navbar-slides h5{
        font-family: 'Ibarra Real Nova', serif;
        
        display: inline-block;
    }

    .navbar-slides .navbarlinks li {
        padding: 10px;
    }

    .navbar-slides .navbarlinks .nav-link {
        color: #000 !important;
        font-size: 16px !important;

        text-decoration: none;

        display: block;
        
        border-bottom: 1px solid silver;
    }
    
    .navbar-slides .navbarlinks li .nav-link:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
/* End Nav Bar  */

/* Start Banner  */
.banner-buttons button {
    padding: 10px 20px;
    margin: 20px 100px 40px 0;
    border: 1px solid darkred;
    background-color: transparent;
    color: grey;
    float: right;
}

.banner-buttons button:hover {
    background-color: darkred;
    
    color: #fff;
}

.banner-paragraphs {
    margin-bottom: 30px;
    
    clear: both;
    
    position: relative;
}

.banner-paragraphs p {
    font-family: 'Mukta', sans-serif;
    
    width: 80%;
    
    text-align: center;
    
    border: 1px solid blue;
    
    padding: 10px 20px;
    
    display: inline-block;
    
    transform: translateX(-50%);
    
    position: absolute;
    left: 50%;
    top: 0;
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .banners {
        margin-top: 100px;
    }
}

@media (max-width: 576px) {
    .banners {
        margin-top: 200px;
    }

    .banner-buttons {
        margin-right: 0;
    }

    .banner-paragraphs {
        font-size: 13px;
        margin-bottom: 3rem;
    }
}
/* End Banner  */
/* End Header Section  */

/* Start Our Service Section  */
.services h2,.care-texts h2{
    font-family: 'Ibarra Real Nova', serif;
}

.services span {
    display: inline-block;
    
    width: 100px;
    height: auto;
    
    border-bottom: 3px solid #000;
}

.services p {
    font-weight: 100;
    letter-spacing: 1px;
}
/* End Our Service Section  */

/* Start Commitent Care Section  */
.care-sections {
    background-color: #f4f4f4;
}

.care-texts,.global-logos {
    margin: 50px 0;
}

.care-texts p {
    font-weight: 100;
}

.care-texts a {
    padding: 0;
    margin: 0;
    
    font-weight: 100;
}

.care-texts a:hover {
    text-decoration: underline;
}
/* Start Commitent Care Section Animation  */
.left {
    animation-name: left-animations;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.right {
    animation-name: right-animations;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes left-animations {
    from {
        transform: translateX(-10px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes right-animations {
    from {
        transform: translateX(10px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
/* End Commitent Care Section Animation  */

@media (max-width: 576px) {
    .care-texts {
        margin-left: 0;

        text-align: center;
    }

    .global-logos {
        margin: 1rem 0 !important;

        display: grid;
        place-items: center;
    }

    .global-logos img {
        width: 150px;
    }
}
/* End Commitent Care Section  */

/* Start Amenities Section  */
.amenities-headings {
    font-family: 'Ibarra Real Nova', serif;
}

.amenitiess span {
    display: block;
    
    margin: 10px 0 0 0;
}

.amenities-btns button {
    padding: 10px 20px;
    
    border: 1px solid darkred;
    
    background-color: transparent;
    
    margin: 30px;
    
    color: grey;
}

.amenities-btns button:hover {
    background-color: darkred;
    
    color: #fff;
}
/* Start Amenities Section Animation  */
.amenities-animations {
    animation-name: amenities-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes amenities-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .detail-amenities {
        padding-left: 20px;
    }
}
/* End Amenities Section Animation  */
/* End Amenities Section  */

/* Start Safety First Section  */
.safetys {
    background-size: cover;
    background-image: url("./../asset/imgs/bodyimg/park-Hyatt-Sanya-Sunny-Bay-Resort.jpg");
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: end;
}

.safety-texts {
    width: 50%;
    
    padding: 50px 20px;
    
    background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
    );
}

.safety-texts span {
    width: 50%;
    display: inline-block;
    
    border-bottom: 3px solid #fff;
    
    margin: 20px 0;
}

.safety-texts .nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .safetys {
        background-size: 100% 100%;
    }

    .safety-texts {
        padding: 0 !important;
    }

    .safety-texts h2 {
        font-size: 20px;

        margin-top: 10px !important;
    }

    .safety-texts p,.safety-texts a {
        font-size: 14px;
    }

    .safety-texts span {
        margin: 0 !important;
    }
}
/* End Safety First Section  */

/* Start Room & Suites Section  */
.roomsuites-headings {
    font-family: 'Ibarra Real Nova', serif;
}

.card {
    border: none;
}

.card-body img {
    width: 100%;
}

.roomsuites-btns button {
    padding: 10px 20px;
    
    border: 1px solid darkred;
    
    background-color: transparent;
    
    color: grey;
}

.roomsuites-btns button:hover {
    color: #fff;
    
    background-color: darkred;
}

.dinning-rooms img,.spas img {
    width: 100%;
    height: 400px;
}

.dinning-rooms,.spas {
    position: relative;
}

.dinning-rooms::before,.spas::before {
    content: "";
    
    width: 50%;
    height: 40%;
    
    background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
    );
    
    transform: translateX(-50%);
    
    position: absolute;
    left: 50%;
    top: 0;
    
    transition: all 0.5s;
}

.dinning-rooms:hover::before,.spas:hover::before{
    width: 100%;
    height: 100%;
}

.dinning-texts,.spa-texts {
    transform: translateX(-50%);
    
    position: absolute;
    left: 50%;
    top: 0;
}

.dinning-texts h6,.spa-texts h6 {
    display: inline-block;
    border-bottom: 3px solid #fff;
    
    margin: 30px;
}

.about-menus p,.about-spas p {
    width: 90%;
    
    margin-left: 30px;
    
    transform: translateY(-50%);
    
    position: absolute;
    left: 0;
    top: 50%;
    
    display: none;
    
    transition: display 0.5s;
}

.dinning-rooms:hover p,.spas:hover p {
    display: block;
}

@media (max-width: 992px) {
    .card-body h5 {
        font-size: 18px !important;
    }

    .card-body p {
        font-size: 14px !important;
    }

    .dinning-rooms img,.spas img {
        width: 100%;
        height: 300px;
    }

    .dinning-rooms::before,.spas::before {
        height: 30%;
    }

    .dinning-texts h6,.spa-texts h6 {
        font-size: 18px !important;

        margin: 20px;
    }

    .dinning-texts h5,.spa-texts h5 {
        font-size: 16px;
    }

    .about-menus p,.about-spas p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .card-body {
        display: flex;
    }

    .card-images {
        width: 200px !important;
        height: 150px;

        margin-top: 1.5rem;
    }

    .card-body h5 {
        margin-left: 30px;
        margin-top: 0 !important;
    }

    .card-body p {
        margin-left: 30px;
    }

    .dinning-rooms img,.spas img {
        width: 100%;
        height: 225px;
    }

    .dinning-rooms::before,.spas::before {
        width: 70%;
        height: 60%;
    }

    .dinning-rooms:hover::before,.spas:hover::before{
        width: 70%;
        height: 60%;
    }

    .dinning-rooms:hover p {
        display: none;
    }

    .spas:hover p {
        display: none;
    }
}

@media (max-width: 576px) {
    .card-body {
        display: block;
    }

    .card-images {
        width: 100% !important;
        height: auto;
    }

    .card-body div h5,.card-body div p {
        text-align: center;

        margin-left: 0;
    }

    .dinning-texts {
        transform: translateX(-65%);
        margin-left: 20px;
    }

    .dining-texts img {
        width: 350px;
        right: 20px;
    }
}
/* End Room & Suites Section  */

/* Start Map,Parking+Transportation Section */
.map-sections{
    background-color: #f4f4f4;
}

.info-parts h3 {
    font-family: 'Ibarra Real Nova', serif;
}

.addresss small,.phone-emails small {
    font-weight: bold;
    
    display: inline-block;
}

.addresss a address {
    width: 60%;
}

.addresss a,.phone-emails a {
    display: block;
    
    color: #000;
    
    text-decoration: none;
}

.addresss a:hover,.phone-emails a:hover {
    text-decoration: underline;
}

.phone-emails button {
    background-color: transparent;
    
    border: 1px solid darkred;
    
    padding: 5px 20px;
    
    font-size: 14px;
    color: grey;
}

.phone-emails button:hover {
    background-color: darkred;
    
    color: #fff;
}

@media (max-width: 992px) {
    .map-sections iframe {
        height: 300px;
        margin-top: 60px;
    }

    .info-parts h3 {
        font-size: 20px;
    }

    .addresss small,.phone-emails small {
        margin: 10px 0 !important;
    }

    .addresss a address,.phone-emails a {
        font-size: 14px !important;
    }

    .phone-emails button {
        width: 150px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .map-sections iframe {
        width: 200px;
        margin-top: 30px;
    }

    .info-parts {
        margin-top: 20px !important;
        margin-left: -50px !important;
    }
}

@media (max-width: 576px) {
    .map-sections iframe {
        width: 100%;
        margin-bottom: 2rem;
    }

    .info-parts {
        margin-left: 20px !important;
        padding-left: 0 !important;

        animation-name: map-animation;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    .addresss small,.phone-emails small {
        margin: 0 !important;
    }

    .phone-emails button {
        margin: 5px 0 !important;
    }

    .phone-emails a {
        padding-bottom: 10px;
    }
}
/* End Map,Parking+Transportation Section */

/* Start Room & Suites Section  */
.roomsuites-parts h1 {
    font-family: 'Ibarra Real Nova', serif;
}

.roomsuites-parts img {
    width: 100%;
    height: 700px;

    clip-path: polygon(0 20%, 100% 20%, 100% 85%, 0 85%);

    margin-top: -100px;
}

.opera-suits img {
    width: 100%;
}

.room-constructions {
    margin: 30px;
}

.room-constructions p {
    width: 80%;
}

.opera-suittwos img {
    width: 100%;

    clip-path: polygon(20% 0, 80% 0, 80% 100%, 20% 100%);
}

.bath-rooms {
    position: relative;
}

.opera-suittwos img {
    width: 100%;

    clip-path: polygon(20% 0, 80% 0, 80% 100%, 20% 100%);

    margin-top: -25px !important;
}

.bath-rooms img {
    width: 100%;

    position: absolute;
    left: -90px;
    top: -100px;
}

@media (max-width: 992px) {

    .opera-suittwos img {
        height: 400px;

        position: relative;
        left: 50px;
        top: -50px;
    }

    .bath-rooms img {
        width: 100%;
    
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media (max-width: 768px) {
    .opera-suits img,.opera-suittwos img,.bath-rooms img {
        display: none;
    }

    .room-constructions {
        margin-top: -50px !important;
        margin-left: -20px !important;
    }
}

@media (max-width: 576px) {
    .roomsuites-parts img {
        height: 300px;
    }

    .room-constructions {
        margin-top: 5px !important;
        margin-left: 20px !important;
    }
}
/* End Room & Suites Section  */

/* Start Our Hotel Section  */
.hotel-parts {
    font-family: 'Ibarra Real Nova', serif;
}

.swimming-pools img,.fitnesss img {
    width: 100%;

    clip-path: polygon(0 0, 100% 0, 100% 28%, 80% 28%, 80% 100%, 0% 100%);
}

.guest-houses img,.gellarys img {
    width: 100%;

    clip-path: polygon(100% 0, 100% 100%, 20% 100%, 20% 28%, 0 28%, 0 0);
}

.swimmingpool-texts h3,.guesthouse-texts h3,.fitness-texts h3,.gellary-texts h3 {
    letter-spacing: 1px;
}

.parent-swimmingpools,.parent-guesthouses,.parent-fitnesss,.parent-gellarys {
    position: relative;
}

.swimmingpool-texts,.fitness-texts {
    width: 150%;
    height: 60%;

    background-color: #fff;

    border-left: 3px solid darkred;
    border-top: 3px solid darkred;

    position: absolute;
    left: -50%;
    top: 30%;
}

.guesthouse-texts,.gellary-texts {
    width: 150%;
    height: 60%;

    background-color: #fff;

    border-top: 3px solid darkred;
    border-right: 3px solid darkred;

    position: absolute;
    left: 0%;
    top: 30%;
}

.swimmingpool-texts,.fitness-texts {
    padding: 30px 0 0 30px;
}

.guesthouse-texts,.gellary-texts {
    padding: 30px 30px 0 0;
}

.accordions {
    display: none;
}

@media (max-width: 992px) {
    .hotel-parts {
        margin-top: -100px;
    }

    .swimmingpool-texts,.guesthouse-texts,.fitness-texts,.gellary-texts {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .swimmingpool-texts h3,.guesthouse-texts h3,.fitness-texts h3,.gellary-texts h3 {
        font-size: 20px;

        margin-bottom: 20px !important;
    }

    .swimmingpool-texts p,.guesthouse-texts p,.fitness-texts p,.gellary-texts p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .our-hotels {
        display: none;
    }

    .accordions {
        display: block;
    }

    .rooftops,.guesthouses,.fitness,.art {
        display: flex;
        justify-content: space-between;
    }

    .rooftops h3,.guesthouses h3,.fitness h3,.art h3 {
        font-size: 20px;
        letter-spacing: 2px;

        display: inline-block;

        cursor: pointer;
    }

    .underlines {
        border-bottom: 1px solid #000;
        cursor: pointer;
    }

    .text-rooftops img,.text-guesthouses img,.text-fitness img,.text-art img {
        width: 100%;

        margin-top: 30px;
    }

    .text-rooftops p,.text-guesthouses p,.text-fitness p,.text-art p {
        margin-top: 30px;
        margin-left: 30px;
    }

    .text-rooftops,.text-guesthouses,.text-fitness,.text-art {
        display: none;
    }
}

@media (max-width: 576px) {
    .accordions h3 {
        margin-left: 20px;
    }

    .accordions p {
        width: 90%;
    }
}
/* End Our Hotel Section  */

/* Start Photo & Review Section  */
.photo-headings h1 {
    font-family: 'Ibarra Real Nova', serif;
}

.photo-parts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-parts img {
    width: 240px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.review-parts h3 {
    font-family: 'Ibarra Real Nova', serif;
}

.review-parts span {
    display: inline-block;
}

.review-texts p {
    width: 80%;
}

.review-texts button {
    padding: 10px 20px;
    
    color: grey;

    background-color: transparent;

    border: 1px solid darkred;
}

.review-texts button:hover {
    color: #fff;

    background-color: darkred;
}

@media (max-width: 992px) {
    .photo-parts img {
        width: 150px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .review-parts,.review-texts p,.review-texts button {
        margin-left: 20px;
    }

    .photo-parts {
        display: block;
    }

    .photo-parts img {
        width: 100%;
        height: auto;

        padding: 0 10px;
        margin-left: 0;
    }
}
/* End Photo & Review Section  */

/* Start Dining Section  */
.dining-headings h1 {
    font-family: 'Ibarra Real Nova', serif;
}

.dining-images img {
    width: 100%;
}

.dining-btn {
    background-color: transparent;
    
    padding: 10px 20px;

    border: 1px solid darkred;

    color: grey;
}

.dining-btn:hover {
    color: #fff;

    background-color: darkred;
}

.dining-texts {
    position: relative;
}

.dining-texts img {
    width: 100%;

    position: absolute;
    right: -50px;
    bottom: -250px;

    z-index: -1;
}

@media (max-width: 992px) {
    .dining-texts {
        margin-top: 0px !important;
    }

    .dining-texts img {
        width: 300px;
        right: -65px;
        bottom: -175px;
    }
}

@media (max-width: 768px) {
    .dining-texts {
        margin-top: 30px !important;
        margin-left: -5px !important;
    }

    .dining-texts img {
        width: 400px;
        right: 0px;
        bottom: -200px;
    }
}

@media (max-width: 576px) {
    .dining-texts {
        margin-left: 10px !important;
    }

    .dining-texts img {
        width: 350px;
    }
}
/* End Dining Section  */

/* Start Events Section  */
.events {
    height: 30vh;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 -5px 0 #cfa84c;
}

.event-btns {
    background-color: transparent;

    border: 1px solid #fff;

    width: 200px;
    height: 50px;
}

.event-btns:hover {
    background-color: #fff;

    color: #000 !important;
}

.event-socials small {
    display: block;
}

.fa-facebook,.fa-instagram,.fa-twitter {
    font-size: 25px;
}

.fa-facebook:hover {
    color: steelblue;
}

.fa-instagram:hover {
    color: pink;
}

.fa-twitter:hover {
    color: skyblue;
}

@media (max-width: 768px) {
    .events {
        height: 35vh;
    }

    .event-texts p {
        padding-top: 20px;
    }
}
/* End Events Section  */

/* Start News Section  */
.new-parts {
    background-color: #f4f4f4;
}

.new-texts h3 {
    font-family: 'Ibarra Real Nova', serif;
}

.new-texts p a {
    text-decoration: none;
}

.new-texts p a:hover {
    text-decoration: underline;
}

.new-texts span {
    width: 100%;

    display: inline-block;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.first-links {
    display: block;
}

.address-news a  {
    text-decoration: none;
}

.address-news a:hover {
    text-decoration: underline;
}
/* End News Section  */

/* Start Footer Section  */
.footer-parts {
    background-color: #222;

    box-shadow: 0 -5px 0 grey;
}

.footer-parts h5 {
    font-size: 16px;
}

.border-lines {
    border-right: 1px solid #fff;
}

.footerlinks li a {
    padding: 0;
    margin: 0;

    font-size: 15px;
    line-height: 2.5;

    display: inline-block;
}

.footerlinks li a:hover {
    text-decoration: underline;

    color: #fff !important;
}

.learn-btns {
    color: #fff;

    border: 1px solid #fff;

    padding: 5px 50px;

    background-color: transparent;
}

.learn-btns:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.guarantees {
    width: 300px;
}

.mobile-apps,.connect-hyatts {
    text-decoration: none;
}

.copyrights {
    background-color: #000;
}

.copyright-links {
    display: flex;
    flex-wrap: wrap;
}

.copyright-links li {
    padding-bottom: 5px;
}

.copyright-links li a,.hyatt-coporations {
    font-size: 13px;

    color: grey;
}

.copyright-links li a {
    text-decoration: none;
}

.copyright-links li a:hover {
    text-decoration: underline;

    color: #fff;
}

.copyright-links span {
    display: inline-block;
}

@media (max-width: 992px) {
    .footerlinks li a {
        font-size: 13px !important;
    }

    .copyright-links li a {
        font-size: 12px;
        text-align: center;
        display: inline-block;
    }

    .hyatt-coporations {
        font-size: 12px;
    }

    .guarantees {
        width: 200px;
    }
}
/* End Footer Section  */

/* Start Modal Section  */
.modal-body {
    border-radius: 50px;
    background-color: #f4f4f4;
}

#bookingheadings {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    clear: both;
}

.bookingsections {
    display: flex;
}

form {
    display: flex;

    margin-top: 1rem;
}

.form-group input {
    width: 225px;
}

.applybtns {
    display: flex;
    justify-content: end;
}

.applybtns button {
    width: 100px;
}

@media (max-width: 576px) {
    .form-group input {
        width: 148px;
    }
}

/* End Modal Section  */